#db-wrapper.toggled{
  .chartCard {
    height: 300px;
    display: flex;
    align-items: center;
    justify-content:center;
    canvas{
      width: 500px;
      padding: 5px;
    }
  }
}
#db-wrapper{
  .chartCard {
    height: 300px;
    display: flex;
    align-items: center;
    justify-content:center;
    canvas{
      width: 300px;
      padding: 5px;
    }
  }
}