#db-wrapper.toggled{
  .chartCard {
    height: 300px;
    display: flex;
    align-items: center;
    justify-content:center;
    width: 100%;
  }
}
#db-wrapper{
  .chartCard {
    height: 300px;
    display: flex;
    align-items: center;
    justify-content:center;
    width: 100%;
  }
}